/include/ "system-conf.dtsi"
#include <dt-bindings/thermal/thermal.h>
#include <dt-bindings/phy/phy.h>

/ {
	
	aliases {
		mmc0 = &sdhci1; // Point mmc0 to the SD slot
		mmc1 = &sdhci0; // Point mmc1 to the eMMC slot
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		/* 128 MB reserved for tests on DMA */
		dma_src_reserved0: buffer@0000000050000000 {
			compatible = "shared-dma-pool";
			no-map;
			reg = <0x0 0x50000000 0x0 0x08000000>;
		};

		/* 128 MB reserved for tests on DMA */
		dma_src_reserved1: buffer@0000000060000000 {
			compatible = "shared-dma-pool";
			no-map;
			reg = <0x0 0x60000000 0x0 0x08000000>;
		};
	};

	/* Virtual PWM controller using your GPIO */
	soft_pwm: pwm-gpio {
		compatible = "pwm-gpio";
		#pwm-cells = <3>;
		/* GPIO number and polarity */
		gpios = <&fan_gpio 0 GPIO_ACTIVE_HIGH>;
	};

	/* Define the fan using the virtual PWM */
	fan0: pwm-fan {
		compatible = "pwm-fan";
		pwms = <&soft_pwm 0 10000 0>;
		cooling-levels = <8 16 64 192 255>;
		#cooling-cells = <2>;
	};

	misc_clk_a: misc_clk_a {
		#clock-cells = <0>;
		clock-frequency = <12000000>;
		compatible = "fixed-clock";
	};
	cam_reg_1v8: regulator-1v8 {
		compatible = "regulator-fixed";
		regulator-name = "1v8";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
	};
	cam_reg_2v8: regulator-2v8 {
		compatible = "regulator-fixed";
		regulator-name = "2v8";
		regulator-min-microvolt = <2800000>;
		regulator-max-microvolt = <2800000>;
	};
	cam_reg_1v5: regulator-1v5 {
		compatible = "regulator-fixed";
		regulator-name = "1v5";
		regulator-min-microvolt = <1500000>;
		regulator-max-microvolt = <1500000>;
	};

	gtrefclk_pcie: clock {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <100000000>;
	};

	gtrefclk_dp: clock {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <27000000>;
	};

	gtrefclk_usb: clock {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <26000000>;
	};

	leds {
		
		compatible = "gpio-leds";

		led0 {
			gpios = <&axi_gpio_leds 0 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "disk-activity";
			function = "disk-activity";
		};

		led1 {
			gpios = <&axi_gpio_leds 1 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "heartbeat";
			function = "heartbeat";
		};

	};

};

&spw_0_axi_dma_0 {
	compatible = "sitf,spw_dma-1.0";
	memory-region = <&dma_src_reserved0>;
	control-regs = <&spw_0_spw_status_regs>;
	device-name = "spw0";
};

&spw_1_axi_dma_0 {
	compatible = "sitf,spw_dma-1.0";
	memory-region = <&dma_src_reserved1>;
	control-regs = <&spw_1_spw_status_regs>;
	device-name = "spw1";
};

&pps_system_axi_gpio_0 {
	gpio-line-names = "ppsa", "ppsb", "ppsa_in", "ppsb_in", "ppsa_en", "ppsb_en";
	xlnx,dout-default-2 = <0x00000003>;
};

&axi_gpio_btn {
	gpio-line-names = "btn1", "btn2", "btn3", "btn4";
};

&axi_gpio_jtag {
	gpio-line-names = "tck", "tdi", "tms", "tdo";
};

&axi_gpio_swd {
	gpio-line-names = "swdio", "trst", "swdclk";
};

&axi_gpio_security {
	gpio-line-names = "seca", "secb";
};

&axi_gpio_leds {
	gpio-line-names = "led1", "led2", "led3", "led4";
};

&fan_gpio {
	xlnx,dout-default = <0x00000001>;
};

&i2c1 {
	clock-frequency = <400000>;

	eeprom@50{
		compatible = "atmel,24c04";
		reg = <0x50>;
		pagesize = <16>;
	};

	ds28c36@1B{
		compatible = "analog,ds28c36";
		reg = <0x1B>;
	};

	si5332: clock-generator@76{
		compatible = "silabs,si5332";
		reg = <0x76>;
	};

	tps65086: pmic@5E {
		compatible = "ti,tps65086";
		reg = <0x5E>;
		ti,system-power-controller;
	};
};

&qspi {
	status = "okay";
};

&flash0 {
	is-dual = <0>;
	num-cs = <1>;
	spi-rx-bus-width = <4>;
	spi-tx-bus-width = <4>;
	compatible ="jedec,spi-nor";
	reg= <0x0>;
};

/* eMMC */
&sdhci0 { /* emmc MIO 13-23 - with some settings MTFC8GAKAJCN 8GB */
	non-removable;
	disable-wp;
	no-sd;
	no-sdio;
	cap-mmc-hw-reset;
	bus-width = <8>;
	/* eMMC 4.5 features */
	/* mmc-hs200-1_8v;  Required for high speed */
};
/* SD */
&sdhci1 {
	disable-wp;
	/* This is okay since the SD is behind a converter */
	no-1-8-v;
};

&psgtr {
	status = "okay";
	clocks = <&gtrefclk_pcie &gtrefclk_usb &gtrefclk_dp &gtrefclk_dp>;
	/* ref clk instances used per lane */
	clock-names = "ref0", "ref1", "ref2", "ref3";
};

/* ULPI SMSC USB3320 */
&usb0  {
	status = "okay";
	/* Link to GT Lane 1 for USB 3.0 Support */
	/* Syntax: <&psgtr LANE_NUM PHY_TYPE CONTROLLER_INSTANCE LANE_OFFSET> */
	phys = <&psgtr 1 PHY_TYPE_USB3 0 1>;
	phy-names = "usb3-phy";
};

&pcie {
	status = "okay";
	/* Point to the GTR PHY lane 0 */
	phys = <&psgtr 0 PHY_TYPE_PCIE 0 0>;
	phy-names = "pcie-phy0";
};

/* USB  */
&dwc3_0 {
	status = "okay";
	dr_mode = "host";
};

/* Ensure the AMS and fan are actually enabled */
&ams {
	status = "okay";
};

/ {
	thermal-zones {
		/delete-node/ pl-thermal; /* Remove your previous attempt if it exists */

		pl-thermal {
			polling-delay = <1500>;
			thermal-sensors = <&tsens_pl>;

			trips {
				fan_low: fan-low {
					temperature = <30000>; /* 30°C */
					hysteresis = <2000>;
					type = "active";
				};
				fan_mid: fan-mid {
					temperature = <45000>; /* 45°C */
					hysteresis = <2000>;
					type = "active";
				};
				fan_high: fan-high {
					temperature = <60000>; /* 60°C */
					hysteresis = <2000>;
					type = "active";
				};
			};

			cooling-maps {
				/* At 30C, set fan to level 1 (64/255 ~25% speed) */
				map1 {
					trip = <&fan_low>;
					cooling-device = <&fan0 1 1>;
				};
				/* At 45C, set fan to level 2 (128/255 ~50% speed) */
				map2 {
					trip = <&fan_mid>;
					cooling-device = <&fan0 2 2>;
				};
				/* At 60C, set fan to level 4 (255/255 = 100% speed) */
				map3 {
					trip = <&fan_high>;
					cooling-device = <&fan0 4 4>;
				};
			};
		};
	};
};
