menu "user packages " 
config dnf  
	 bool "dnf"
	 help
	
config e2fsprogs-resize2fs  
	 bool "e2fsprogs-resize2fs"
	 help
	
config gpio-demo  
	 bool "gpio-demo"
	 help
	
config mesa-megadriver  
	 bool "mesa-megadriver"
	 help
	
config packagegroup-petalinux-xrt  
	 bool "packagegroup-petalinux-xrt"
	 help
	
config parted  
	 bool "parted"
	 help
	
config peekpoke  
	 bool "peekpoke"
	 help
	
config shells-for-testing-peripheral-devices  
	 bool "shells-for-testing-peripheral-devices"
	 help
	
config wifi-init  
	 bool "wifi-init"
	 help
	
config xrt-dev  
	 bool "xrt-dev"
	 help
	
endmenu
