menu "user packages " 
config gpio-demo  
	 bool "gpio-demo"
	 help
	
config peekpoke  
	 bool "peekpoke"
	 help
	
config shells-for-testing-peripheral-devices  
	 bool "shells-for-testing-peripheral-devices"
	 help
	
endmenu
